
{% extends 'base.html.twig' %}
{% block title %}Venue Booking App Home {% endblock %}
{% block heading %}Venue Booking App Home{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 box-black text-center">
                {#Welcome to RESTServer4597377#}
                {{ title }}
            </div>
            <div class="col-md-2"></div>

        </div>

    </div>
    <br><br><br><br><br><br>
{% endblock %}




